body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

p, li{
    text-align: justify;
    color:#090C08;
}

li{
    font-weight: bold;
}

h1, h2{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #090C08;
}

main{
    background-color: #99C1B9;  
}

.navegacao{
    margin: 0;
    right: 0;
    background-color: #212529;
    height: 100%;
    width: 10rem;
    display:flex;
    position:fixed;
    justify-content: space-evenly;
    align-items: center;
    flex-flow:column wrap;
    flex: auto;
    box-shadow: inset 0 0 0.5em #F1E3D3;
}

.nome{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #F1E3D3;
    text-shadow: -2px 2px #090C08;
}

.menu{
    padding: 0 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
    flex:auto;
    
}

nav ul{
    padding: 0;
}

nav li{
    display: flex;
    justify-content: space-between;
    font-size: large;
    flex-wrap: wrap;
    flex: auto;  
}

nav a{
    text-decoration: none;
    color: #F1E3D3;
    text-shadow: -1px 1px #090C08;
}

nav a:hover{
    color: #D88C9A;
}

article{
    padding-left: 5%;
    padding-right: 11rem;
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    flex:auto;
}

#dados{
    height: 50%;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex:auto;
}

.textao{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
    flex:auto;
    min-width: 0;
    align-items: center;
}

.redonda{
    width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 50%;
    border-style: double;
    border-width: 4px;
    border-color: #212529;
    overflow: hidden;
}

.textao p{
    padding-left: 20px;
    font-size: 1em;
    color: #090C08;
}

#perfil{
    background-color: #E9ECEF;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#formacao{
    background-color: #DEE2E6;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#experiencia{
    background-color: #CED4DA;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

.listas{
    display: flex;
    flex-flow: row wrap;
    flex:auto;
}

#conhecimentos{
    background-color: #ADB5BD;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#conhecimentos ul{
    list-style:circle;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#certificacoes{
    background-color: #6C757D;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#certificacoes ul{
    list-style:circle;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
