html {
    scroll-behavior: smooth;
  }

@media screen and (max-width: 700px) {
    nav {
        display: none;
      }

      .menu {
        display: none;
      }
    
    .navegacao {
      display: none;
    }

    .nome{
        display: none;
    }

    article{
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        height: 100%;
        flex-flow: row wrap;
        flex:auto;
        justify-content: space-between;
    }

    #dados{
        height: 50%;
        background-color: #F8F9FA;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        flex:auto;
    }
    
    .textao{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        overflow: hidden;
        flex:auto;
        min-width: 0;
        align-items: center;
    }
    
    .redonda{
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-style: hidden;
        background-image: url("plinio2.png");
        overflow: hidden;
        align-self: center;
    }
    
    .textao p{
        align-self: flex-start;
        text-align: justify;
        font-size: 1em;
        color: #090C08;
    }
    .textao h1 {
        align-self: flex-start;
        padding: 0;
        margin: 0;
    }


}

@media screen and (min-width: 701px) {
    
    .navegacao{
        margin: 0;
        right: 0;
        background-color: #212529;
        height: 100%;
        width: 9rem;
        display:flex;
        position:fixed;
        justify-content: space-evenly;
        align-items: center;
        flex-flow:column wrap;
        flex: auto;
    }
    
    .nome{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        color: #F1E3D3;
        text-shadow: -2px 2px #090C08;
    }
    
    .menu{
        padding: 0 10px;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-flow:column wrap;
        flex:auto;
        
    }
    
    nav ul{
        padding: 0;
    }
    
    nav li{
        display: flex;
        justify-content: space-between;
        font-size: large;
        flex-wrap: wrap;
        flex: auto;
        font-size: 1em;
    }
    
    nav a{
        text-decoration: none;
        color: #F1E3D3;
        text-shadow: -1px 1px #090C08;
    }
    
    nav a:hover{
        color: #D88C9A;
    }
    
    article{
        padding-left: 5%;
        padding-right: 11rem;
        display: flex;
        height: 100%;
        flex-flow: row wrap;
        flex:auto;
        
    }

    #dados{
        height: 50%;
        background-color: #F8F9FA;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        flex:auto;
    }

    .textao{
        width: 40%;
        margin-left: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        overflow: hidden;
        flex:auto;
        min-width: 0;
    }
    
    .redonda{
        background-image: url("plinio2.png");
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border-style:hidden;
        overflow: hidden;
        justify-self: center;
        margin-bottom: 20px;
        transition: 0.8s;
        
    }

    .redonda:hover{
        background-image: url("plinio-flip.png");
    }
    
    .textao p{
        font-size: 1em;
        color: #090C08;
        text-align: justify;
        align-self: flex-start;
    }
    .textao p {
        padding: 0;
        margin: 0;
    }

    .textao h1, h2 {
        align-self: flex-start;
        padding: 0;
        
    }
    
    
    .conteudos{
        display: flex;
        flex-direction: row;
    }


}



body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

p, li{
    text-align: justify;
    color:#090C08;
}

li{
    font-weight: bold;
}

main h1{
    font-size: 1.5em;
}

main h2{
    font-size: 1.3em;
}

h1, h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #090C08;
    text-align: justify;
}

main{
    background-color: #99C1B9;  
}



#perfil{
    background-color: #DEE2E6;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#formacao{
    background-color: #C0C6CC;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#experiencia{
    background-color: #A6ACB3;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

.listas{
    display: flex;
    flex-flow: row wrap;
    flex:auto;
}

#conhecimentos{
    background-color: #8D9399;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#conhecimentos ul{
    list-style:circle;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#certificacoes{
    background-color: #737980;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex:auto;
    align-items: flex-start;
}

#certificacoes ul{
    list-style:circle;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
